<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout-padrao}">

<head th:replace="Header :: pag-head">


</head>
<meta charset="utf-8">
<title>Cadastro de Livro</title>
<body>

	<div th:replace="Header :: navbar-Home"></div>
	<section layout:fragment="conteudo">
		<div class="container-fluid">
			<form class="row g-3"  id="bookform" method="POST" action="/book/newBook"
				th:object="${book}">

				<div th:replace="/fragments/MensagensErroValidacao :: alert"></div>


				<input type="hidden" th:field="*{id}" />

				<div class="col-md-6">
					<label for="title" class="form-label">Título</label> <input
						type="text" class="form-control" id="title" name="title">
				</div>


				<div class="col-md-6">
					<label for="description" class="form-label">Descrição</label>
					<textarea class="form-control" id="description" name="description"
						rows="3"></textarea>
				</div>

				<div class="col-2">
					<label for="price" class="form-label">Preço</label> <input
						type="text" class="form-control" id="price" name="price">
				</div>

				<div class="col-md-3">
					<label for="isbn" class="form-label">ISBN</label> <input
						type="text" class="form-control" id="isbn" name="isbn">
				</div>

				<div class="col-md-2">
					<label for="nbOfPage" class="form-label">Número de Páginas</label>
					<input type="text" class="form-control" id="nbOfPage"
						name="nbOfPage">
				</div>


				<div class="col-12">
					<div class="form-check">
						<input class="form-check-input" type="checkbox" id="illustrations"
							name="illustrations"> <label class="form-check-label"
							for="illustrations"> Ilustraçôes </label>
					</div>
				</div>
				<div class="col-12">
					<button type="submit" class="btn btn-primary">Cadastrar</button>
				</div>
			</form>
		</div>
	</section>
</body>
</html>
