<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="Header :: pag-head">
<meta charset="UTF-8" />

</head>
<title>Informações do Livro</title>
<body>
	<div th:replace="Header :: navbar-Home"></div>

	<div class="container" th:object="${book}">
		<h1>
			<font size="6" face="Times" th:text="${book.title}"></font>
		</h1>
		<div class="col-md-3">
				<img th:src="@{/book/info/cover/{imgPath}(imgPath=${book.imgId})}"
					class="img-rounded" alt="Responsive image" height="300" width="200">
			</div>
		<div class="row">
			
			<div class="col-md-3">
				<b>Número de Páginas</b>
				<p th:text="${book.nbOfPage}"></p>
			</div>

			<div class="col-md-3">
				<b>Editora</b>
				<p th:text="${book.publishingCompany.namePublishingCompany}"></p>
			</div>
		
			<div class="col-md-3">
				<b>ISBN</b>
				<p th:text="${book.isbn}"></p>
			</div>
		
			<div class="col-md-6">
				<b>Descrição</b>
				<p th:text="${book.description}"></p>
			</div>
			
		</div>
	</div>

</body>
</html>