<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout-padrao}">
<head th:replace="Header :: pag-head">
<meta charset="UTF-8" />
<title>Pesquisa de Livros</title>
</head>

<body>
	<div th:replace="Header :: navbar-Home"></div>

	<section layout:fragment="conteudo">

		<div class="container-fluid">
			<div class="table-responsive  bw-tabela-simples">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>ID</th>
							<th>Título</th>
							<th>Quantidade de Páginas</th>
							<th>Autor</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${books.empty}">
							<td colspan="6">Sem livros</td>
						</tr>
						<tr th:each="book : ${books}">
							<td th:text="${book.id}"></td>
							<td
								th:text="${book.title}"> Título </td>
							<td th:text="${book.nbOfPage}">0</td>
						
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>
</body>

</html>