<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">

	<div class="page-header" th:fragment="pesquisa (titulo, urlBotaoNovo, tituloBotaoNovo)">
		<div th:replace="/fragments/MensagemSucesso :: alert"></div>
		<div th:replace="/fragments/MensagemErroGeral :: alert"></div>

		<div class="container-fluid">

			<div class="row">
				<div class="col-xs-8">
					<h1 th:text="${titulo}"></h1>
				</div>

				<div class="col-xs-4" th:if="${urlBotaoNovo}">
					<div class="aw-page-header-controls">
						<a class="btn  btn-primary" th:href="@{${urlBotaoNovo}}">
							<i class="glyphicon  glyphicon-plus-sign"></i> <span
								class="hidden-xs  hidden-sm" th:text="${tituloBotaoNovo}"></span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid" th:fragment="edicao (itemAnterior, urlItemAnterior, itemAtivo)">
		<div th:replace="/fragments/MensagemSucesso :: alert"></div>

		<nav aria-label="breadcrumb" role="navigation">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="#" th:href="@{${urlItemAnterior}}" th:text="${itemAnterior}">Autores</a></li>
				<li class="breadcrumb-item active" aria-current="page" th:text="${itemAtivo}"></li>
			</ol>
		</nav>
	</div>

	
</html>